html {
    box-sizing: border-box;
}


*, ::before, ::after {
    box-sizing: inherit;
}

.body {

    max-width: 1000px;
    margin: auto;
    background-color: rgb(252, 248, 248);
    text-align: center;
    line-height: 1.3;

}

.body--grey {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    background-color: rgb(220, 227, 240);
    line-height: 1.3;
}





